ion-avatar {
  margin: 30px;
  width: 150px;
  height: auto;
}

ion-button {
  margin-top: 10px;
  margin-left: 40%;
}

h3 {
  margin-left: 40px;
  justify-content: center;
}

.link {
  color: #ffca22;
  font-weight: 500;
  text-decoration: none;
}
